<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="pageTitle col-lg-12" xmlns="" xmlns="">
        <h2>Historias Clínicas</h2>
      </div>
      <div>
        <div>
          <ul class="nav nav-tabs">
            <li class=""><a data-toggle="tab" href="#showPets">Listado de historias clínicas</a></li>
            <li><a data-toggle="tab" href="#newPet">Nueva historia clínica</a></li>
          </ul>
          <div class="tab-content">
            <div id="showPets" class="tab-pane fade in active">
              <table id="clinic-history" class="table table-striped ">
                <div *ngIf="clinicHistoryList">
                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Historia Clinica</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Nombre de Mascota</th>
                    <th scope="col"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let clinicHistory of clinicHistoryList">
                    <th scope="row"></th>
                    <td>{{clinicHistory.id }}</td>
                    <td>{{clinicHistory.date }}</td>
                    <td>{{clinicHistory.pets.name }}</td>
                    <td (click)="deleteClinicHistory(clinicHistory.id)"><i class="far fa-trash-alt"></i></td>
                  </tr>
                  </tbody>
                </div>
              </table>
            </div>
            <div id="newPet" class="tab-pane fade">
              <form class="well form-horizontal" action=" " method="post" id="contact_form">
                <fieldset>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Número de historia clinica</label>
                    <div class="col-md-8 inputGroupContainer">
                      <input name="id" placeholder="{{numberClinicHistory}}" readonly="readonly" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Mascota</label>
                    <div class="col-md-8 inputGroupContainer">
                      <select class="form-control height" name="petList" id="petList">
                        <option *ngFor="let pet of petList" value="{{pet.id}}">{{pet.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                      <button (click)="newClinicHistory()" class="btn btn-primary">Nuevo</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
