<ul class="menuList">
  <li class="menuItem">
    <a routerLink="customers">
      <p>Clientes</p>
    </a>
  </li>
  <li class="menuItem">
    <a routerLink="patients">
      <p>Pacientes</p>
    </a>
  </li>
  <li class="menuItem">
    <a routerLink="hairdressing">
      <p>Peluquería</p>
    </a>
  </li>
  <li class="menuItem">
    <a routerLink="billing">
      <p>Facturación</p>
    </a>
  </li>
  <li class="menuItem">
    <a routerLink="box">
      <p>Caja</p>
    </a>
  </li>
  <li class="menuItem">
    <a routerLink="stock">
      <p>Stock</p>
    </a>
  </li>
  <li class="menuItem">
    <a routerLink="statistics">
      <p>Estadísticas</p>
    </a>
  </li>
  <li class="menuItem">
    <a routerLink="suppliers">
      <p>Proveedores</p>
    </a>
  </li>
</ul>
