<div class="container" style="z-index: 0 !important;">
  <div class="row">
    <div class="col-lg-12">
      <div class="pageTitle col-lg-12" xmlns="" xmlns="">
        <h2>Proveedores</h2>
      </div>
      <div>
        <tabset>
          <tab heading="Listado de Pedidos">
            <table id="listado_pedido" class="table table-striped ">
              <div *ngIf="orderList">
                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Proveedor</th>
                  <th scope="col">Valor</th>
                  <th scope="col">Observaciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let order of orderList">
                  <th scope="row"></th>
                  <td>{{order.date | date : "dd/MM/yyyy"}}</td>
                  <td>{{order.idProvider}}</td>
                  <td>{{order.amount}}</td>
                  <td>{{order.observations}}</td>
                </tr>
                </tbody>
              </div>
            </table>
          </tab>
          <tab heading="Nuevo Pedido">
            <form class="well form-horizontal" action=" " method="post" id="contact_form">
              <fieldset>
                <div class="form-group">
                  <label class="col-md-4 control-label">Proveedor</label>
                  <div class="col-md-4 inputGroupContainer">
                    <select class="form-control height" name="providerList" id="providerList">
                      <option name="providerName" *ngFor="let provider of providersList" value="{{provider.id}}">
                        {{provider.name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">Monto</label>
                  <div class="col-md-4 inputGroupContainer">
                    <input name="amount" placeholder="Monto" class="form-control" [(ngModel)]="order.amount"
                           #amount="ngModel" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label">Observaciones</label>
                  <div class="col-md-4 inputGroupContainer">
                    <input name="observations" placeholder="Observaciones" class="form-control"
                           [(ngModel)]="provider.observations" #observations="ngModel" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label"></label>
                  <div class="col-md-4">
                    <button (click)="newOrder()" class="btn btn-primary">Nuevo</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </tab>
          <tab heading="Listado de Proveedores">
            <table id="listado_proveedor" class="table table-striped ">
              <div *ngIf="providersList">
                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Celular</th>
                  <th scope="col">Dirección</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provider of providersList">
                  <th scope="row"></th>
                  <td>{{provider.name}}</td>
                  <td>{{provider.cellPhone}}</td>
                  <td>{{provider.address}}</td>
                </tr>
                </tbody>
              </div>
            </table>
          </tab>
          <tab heading="Nuevo Proveedor">
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
