<!--<app-header></app-header>-->
<header id="header" class="header container-fluid">
  <button class="btn btn-primary" (click)="open = !open"><p>menu</p></button>
</header>

<main class="background">
  <div class="leftMenu" [ngClass]="{'opened': !open, 'closed': open}">
    <!--<app-left></app-left>-->
    <ul class="menuList">
      <li class="menuItem">
        <a routerLink="customers">
          <p>Clientes</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="patients">
          <p>Pacientes</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="hairdressing">
          <p>Peluquería</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="billing">
          <p>Facturación</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="box">
          <p>Caja</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="stock">
          <p>Stock</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="statistics">
          <p>Estadísticas</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="suppliers">
          <p>Proveedores</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

<!--<footer class="footer container-fluid">
  <div class="row">
    <app-footer></app-footer>
  </div>
</footer>-->

