<div class="container center">
  <div class="row">
    <div class="col-lg-12">
      <div class="pageTitle col-lg-12" xmlns="" xmlns="">
        <h2>Listado de caja</h2>
      </div>
      <div>
        <table id="example" class="table table-striped ">
          <div>
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Usuario</th>
              <th scope="col">Fecha</th>
              <th scope="col">Fecha cierre</th>
              <th scope="col">Saldo Inicial</th>
              <th scope="col">Entradas efectivo</th>
              <th scope="col">Salidas efectivo</th>
              <th scope="col">Saldo final</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row"></th>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
            </tr>
            </tbody>
          </div>
        </table>
      </div>
    </div>
  </div>
</div>
