<div class="pageTitle col-lg-12">
  <h2>Clientes</h2>
</div>

<div>
  <tabset>
    <tab heading="Listado de Clientes">
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>Tipo de Documento</th>
          <th>Nro de Documento</th>
          <th>Telefono Fijo</th>
          <th>Celular</th>
          <th>Calle</th>
          <th>Piso</th>
          <th>Departamento</th>
          <th>Localidad</th>
        </tr>
        </thead>
        <tbody>
        <div *ngIf="customerList">
          <div *ngFor="let customer of customerList">
            <th scope="row"></th>
            <td>{{customer.lastname}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.docType}}</td>
            <td>{{customer.docNum}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.cellPhone}}</td>
            <td>{{customer.street}}</td>
            <td>{{customer.floor}}</td>
            <td>{{customer.flat}}</td>
            <td>{{customer.location}}</td>
          </div>
        </div>
        </tbody>
      </table>
    </tab>
    <!--    <tab heading="Buscar Cliente">Buscar Cliente</tab>
        <tab heading="Registro de Visitas">Registro de Visitas</tab>
        <tab heading="Nuevo Cliente">Nuevo Cliente</tab>-->
  </tabset>
</div>
