<div class="pageTitle col-lg-12">
  <h2>Clientes</h2>
</div>

<div>
  <tabset>
    <tab heading="Listado de Clientes">
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th>Apellido</th>
          <th>Nombre</th>
          <th>Tipo de Documento</th>
          <th>Nro de Documento</th>
          <th>Email</th>
          <th>Telefono Fijo</th>
          <th>Celular</th>
          <th>Calle</th>
          <th>Piso - Depto</th>
          <th>Localidad</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Ferretti</td>
          <td>Nicolas</td>
          <td>DNI</td>
          <td>34574565</td>
          <td>nicolas.ferretti2@gmail.com</td>
          <td>-</td>
          <td>3516536411</td>
          <td>La Habana 1935</td>
          <td>1 - A</td>
          <td>Córdoba</td>
        </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="Buscar Cliente">Buscar Cliente</tab>
    <tab heading="Registro de Visitas">Registro de Visitas</tab>
    <tab heading="Nuevo Cliente">Nuevo Cliente</tab>
    <tab heading="Clientes Bloqueados">Clientes Bloqueados</tab>
  </tabset>
</div>
