<script type="text/javascript">
  $(document).ready(function() { $('#example').DataTable(); } );

</script>
<header id="header" class="header container-fluid">
  <button class="btn btn-primary" (click)="open = !open"><p>menu</p></button>
  <button class="btn btn-logout" (click)="logout()" style="margin-left: 95%; margin-top: -0.8rem;"><p style="margin-bottom: 2px;">SALIR</p></button>
</header>
<main class="background">
  <div class="leftMenu" [ngClass]="{'opened': open, 'closed': !open}">
    <!--<app-left></app-left>-->
    <ul class="menuList">
      <li class="menuItem">
        <a routerLink="customers">
          <p>Clientes</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="patients">
          <p>Pacientes</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="hairdressing">
          <p>Peluquería</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="billing">
          <p>Facturación</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="box">
          <p>Caja</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="stock">
          <p>Stock</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="statistics">
          <p>Estadísticas</p>
        </a>
      </li>
      <li class="menuItem">
        <a routerLink="suppliers">
          <p>Proveedores</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="pageTitle col-lg-12" xmlns="" xmlns="">
          <h2>Clientes</h2>
        </div>
        <div>
          <tabset>
            <tab heading="Listado de Clientes">
              <table id="example" class="table table-striped ">
                <div *ngIf="customerList">
                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Nro de Documento</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Calle</th>
                    <th scope="col">Piso</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Localidad</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let customer of customerList">
                    <th scope="row"></th>
                    <td>{{customer.lastname}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.docNum}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.cellPhone}}</td>
                    <td>{{customer.street}}</td>
                    <td>{{customer.floor}}</td>
                    <td>{{customer.flat}}</td>
                    <td>{{customer.location}}</td>
                  </tr>
                  </tbody>
                </div>
              </table>
            </tab>
            <tab heading="Nuevo Cliente">
              <form class="well form-horizontal" action=" " method="post" id="contact_form">
                <fieldset>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Nombre</label>
                    <div class="col-md-4 inputGroupContainer">
                      <input name="first_name" placeholder="Nombre" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Apellido</label>
                    <div class="col-md-4 inputGroupContainer">
                      <input name="last_name" placeholder="Apellido" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">DNI</label>
                    <div class="col-md-4 inputGroupContainer">
                      <input name="doc_num" placeholder="DNI" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Teléfono</label>
                    <div class="col-md-4 inputGroupContainer">
                      <input name="phone" placeholder="(351)4732596" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Celular</label>
                    <div class="col-md-4 inputGroupContainer">
                      <input name="cellPhone" placeholder="(351)6536411" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Dirección</label>
                    <div class="col-md-4 inputGroupContainer">
                      <input name="address" placeholder="Dirección" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Piso</label>
                    <div class="col-md-4 inputGroupContainer">
                      <input name="floor" placeholder="Piso" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">Departamento</label>
                    <div class="col-md-4 inputGroupContainer">
                      <input name="flat" placeholder="Departamento" class="form-control" type="text">
                    </div>
                  </div>
                  <div class="alert alert-success" role="alert" id="success_message">Success <i
                    class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                      <button type="submit" class="btn btn-primary">Nuevo</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </tab>
            <tab heading="Registro de Visitas">Registro de Visitas</tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</main>
