//Tipografías
$ubuntu: 'Ubuntu', sans-serif;

//Colores
$violet: #9C27B0;
$violetDark: #7B1FA2;
$yellow: #FFCE0D;
$green: #CDDC39;
$grayLight: #EFEFEF;
$grayDark: #757575;
$red: #c81432;
$blue: #0f73b9;

//medidas
$headerH: 51px;
$sliderH: 350px;
